.title{
	text-align: Center;
    font-size: 18px;
    color: #4c98e9;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 0px;
}
.btn-default{
	color:#fff;
	background-color:#306eb3;
}
.btn-default:hover, .btn-default:active:focus, .btn-default.focus, .btn-default:focus{
	color:#fff;
	background-color:#4c98e9;
}
.login_result{
	margin-bottom: 8px;
    font-size: 16px
}

/**
 * Original Files -> parallax.css
 * @Author Original @msurguy -> http://bootsnipp.com/snippets/featured/parallax-login-form
 * @Reworked By @kaptenn_com 
 * @package PARALLAX LOGIN.
 */
    
body {
	background-color: #444;
	background: url(../img/app/parallax.jpg);
	
}
.form-signin input[type="text"] {
	margin-bottom: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.vertical-offset-100 {
	padding-top: 100px;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}
.panel {
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.75);
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
