/****************************************
 * FIX
 ****************************************/
body {
	background-color:#EEF1F7;
	font-family:Arial, Helvetica, Arial, sans-serif;
	padding-top: 50px;

}
.padding0{
	padding:0;
}
.row-no-margin{
	margin-left:0;
	margin-right:0;
}
.asterik{
	color: #FF0000;
    font-weight: bold;
    font-size: 15px;
}
.alert-margin-top{
	margin-top:20px;
	margin-bottom:0;
}
.a-hover-no-underline:hover, .a-hover-no-underline:focus{
	text-decoration:none;
}
.table-no-margin-bot, .all-no-margin-bot{
	margin-bottom:0;
}
.v-align-middle{
	vertical-align:middle!important;
}

/* well */
.well-no-radius{
	margin-top: -1px;
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.well-no-margin{
	margin-bottom:0;
}
.well-custom{
	margin-bottom: 5px;
    background-color: #FFFFFF;
}

/* btn */
.btn-custom{
	color:#fff;
	background-color: #56698E;
    border-color: #56698E;
	
	webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.btn-custom:hover, .btn-custom:focus{
	color:#fff;
	background-color:#337ab7;
	border-color: #337ab7;
	
	webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.btn-no-radius-top{
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-no-radius-bottom{
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-xc{
	padding: 2px 20px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

/* panel */
.panel-no-radius-top{
	border-top-left-radius:0;
}
.panel-wrapper-c strong{
	font-size:16px;
	display: block;
    margin-bottom: 5px;
}
.panel-custom{
	border-color:#ddd;
}
.panel-custom > .panel-heading{
	color: #fff;
    background-color: #56698E;
    border-color: #56698E;
	font-size:18px;
}
.panel-heading-center{
	text-align:center;
}


/****************************************
 * Main Content
 ****************************************/
.main {
	padding: 20px;
}
.main .page-header {
	margin-top: 0;
}
.head-title{
    background:#3B4A67;
    padding: 10px 25px;
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
	font-size: 18px;
	line-height:1.5;
	letter-spacing: 2px;
    border-left: 15px solid #56698E;
}
.heading1{
	font-size: 21px;
    letter-spacing: 2px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
}
.m-foto{
	text-align:center;
	margin-bottom: 25px;
}
.m-foto img{
    border: 5px solid #ccc;
	margin-bottom:5px;
}
.m-profile strong, .m-foto strong{
	font-size:16px;
	display: block;
    margin-bottom: 5px;
}
.m-profile h4{
	font-size:14px;
	font-weight:700;
}
.m-edit > .row [class*="col-"]{
	margin-bottom:20px;
}
.m-edit > .row .col-md-12 >.row [class*="col-"]{
	margin-bottom:0;
}

.heading-inline{
	display:inline-block;
	font-size: 17px;
	letter-spacing: 1px;
	vertical-align: middle;
}
.inline-form{
	display:inline-block;
	margin-right:20px;
}
.inline-form .form-control{
	height: 24px;
    padding: 0px 12px;
}
.form-control-custom{
	display:inline-block;
	width:initial;
}
.center-block{
	text-align:center;
	display:block;
}

@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
	.m-foto{
		text-align:left;
	}
	.right-align{
		text-align:right;
	}
}
@media (max-width: 768px) {
	.form-inline{
		margin-bottom:15px;
	}
}


/****************************************
 * Top Nav
 ****************************************/
.navbar{
	font-size:13px;
	background-color:#3B4A67;
	
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}
.navbar .navbar-brand, .navbar .navbar-nav > li > a{
	color:#fff;
}
.navbar .navbar-nav>.active>a{
	background-color:#3B4A67;
}
.navbar .navbar-nav>.active>a:hover, .navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:focus, .navbar .navbar-nav>.open>a:hover{
	background-color: #293649;
}
.navbar .navbar-nav>li>a:hover{
	background-color: #56698E;
}
.navbar .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background-color: #293649;
	color:#ccc;
}
.navbar .dropdown-menu{
	background-color:#3B4A67;
}
.navbar .dropdown-menu>li>a{
	color:#ccc;
}
.navbar .dropdown-menu .divider{
	background-color: #293649;
}
.navbar .info-header{
	float: left;
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    padding-top: 13px;
    padding-left: 25px;
}
@media (min-width: 768px){
	.navbar-header{
		background:#232F40;
	}
	.navbar-right{
		margin-right:10px;
	}
	.navbar-right>li>a{
		padding-top:18px;
		padding-bottom:19px;
	}
}
@media (max-width: 767px){
	.navbar .info-header{
		float: none;
		text-align: center;
		font-size: 15px;
		padding: 10px 5px;
		border-top: 1px solid #101010;
	}
	.navbar-right{
		text-align:center;
		margin-top: 0;
		margin-bottom: 0;
	}
	.navbar .navbar-nav .open .dropdown-menu>li>a{
		color:#fff;
	}
	.navbar .navbar-nav .open .dropdown-menu .divider{
		background-color: #293649;
	}
}


/****************************************
 * Sidebar
 ****************************************/
/*
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */
.side-toggle{
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px 0;
	text-decoration:none!important;
}
.toggle-text{
	color: #fff;
    vertical-align: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 8px;
}
.side-toggle .glyphicon{
	font-size:30px;
	color:#fff;
}
.btn-stoggle .glyphicon{
	-moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

#wrapper {
    padding-left: 0;
	
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
	top:90px;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #304056;
	
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
	margin-top:40px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
@media(min-width:768px) {
	#sidebar-wrapper{
		top:initial;
	}
	.side-toggle{
		width: 250px!important;
		padding: 11px;
	}
	.side-toggle .glyphicon{
		-moz-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		transform: scaleX(-1);
		-ms-filter: fliph; /*IE*/
		filter: fliph; /*IE*/
	}
	.btn-stoggle .glyphicon{
		-moz-transform: initial;
		-webkit-transform: initial;
		-o-transform: initial;
		transform: initial;
		-ms-filter: initial; /*IE*/
		filter: initial; /*IE*/
	}

    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
		padding-left:0;
        position: relative;
		margin-top:initial;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/** SIDEBAR STLYE */

.sidebar-content{
	position:absolute;
	width:250px;
}
.sidebar-profile{
	text-indent: 0!important;
	padding: 25px 10px 20px;
	margin-bottom: 5px;
	color:#fff;
	background:#232F40;
	text-align:center;
	
	-moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
}
.profile-img{
	overflow: hidden;
    width: 100px;
    height: 100px;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 3px solid rgba(255, 255, 255, 0.8);
	
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
	
    -moz-border-radius-topright: 50%;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
	
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
	
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	
	-moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.profile-img img{
	width:94px;
}
.profile-info{
	line-height:1.5;
	letter-spacing: 1px;
}
.profile-info h4{
	font-size: 17px;
    font-weight: bold;
    margin-top: 0;
	margin-bottom: 5px;
}
.profile-info span{
	font-size:12px;
}

/** menu */
.fa-c{
	width: 45px;
    font-size: 20px!important;
    color: #6382a9;
	text-align:center;
}
.sidebar > ul > li {
    margin-bottom:2px;
}

.sidebar ul li a{
	color:#ccc;
	background-color: #2d3b50;
	padding-left:5px;
}
.sidebar ul li.active > a, .sidebar ul li a:hover, .sidebar ul li a:focus, 
.sidebar ul li.current > a, .sidebar ul li.current a:hover, .sidebar ul li li.current a{
	background-color:#232F40;
}
.sidebar > ul > li.current > a >.fa-c, .sidebar ul li li.current a .fa-c{
	color:#ccc;
}
.sidebar ul li li.current a{
	padding-left: 40px;
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

/** submenu */
.nav-second-level .fa-c{
	font-size: 16px!important;
}
.sidebar .nav-second-level{
	margin-top:2px;
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 30px;
	
	webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.sidebar .nav-second-level li a:hover{
	padding-left: 40px;
	
	webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.sidebar .nav-second-level li a:after{
	content: " ";
    width: 1px;
    height: 45px;
    background: #293649;
    position: absolute;
    left: 27px;
    top: 0px;
	
	webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
.sidebar .nav-second-level li a:hover:after{
	background: #304056;
	
	webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}	

.sidebar .nav-third-level li a {
    padding-left: 52px;
}


/** responsive */
@media(min-width:768px) {
    .sidebar {
        z-index: 1;
		width: 250px;
        margin-top: 0;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/****************************************
 * Table
 ****************************************/
/** style-table */
.style-table th{
	background-color: #56698E;
    color: #fff;
	text-align:center;
	border-left:1px solid #394C67;
}
.style-table th:first-child{
	border-left:0;
}
.style-table tbody{
	border: 1px solid #ddd;
}
.style-table tr td{
	border-right:1px solid #ddd;
}
.style-table .t-action{
	background-color:transparent;
}
.style-table>tbody>tr:nth-of-type(even){
	background-color:#E6EEFF;
}
.style-table tbody > tr{
	webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
.style-table tbody > tr:hover{
	background-color: #B1CCFF;
	
	webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
#tableCheckBox.style-table .dataTables_empty{
	display:none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #56698E;
    border-color: #56698E;
}
.select-info{
	margin-left:8px;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #B0BED9;
}
.style-table tbody>tr.highlight{
	background-color: #B0BED9;
}

/** table-list */
.table-list-1 > tbody>tr>th, .table-list-1 > thead>tr>th{
	background-color:#56698e;
	color:#fff;
}
.table-list-1 > tbody>tr>td{
	background-color:#f5f5f5;
}

.table-list-2 > tbody>tr>th{
	background-color:#eaeaea;
}
.table-list-2 > tbody>tr>td{
	background-color:#f5f5f5;
}
.table-list-2 > tbody>tr>th{
	border-top:0;
}

/****************************************
 * Modal
 ****************************************/
.modal-custom .modal-header{
	background-color:#3B4A67;
	color:#fff;
}
.modal-custom .modal-header .close{
	color:#fff;
	opacity:1;
}
.modal-custom .modal-footer {
    padding: 15px;
}


/****************************************
 * Panel Tabs
 ****************************************/
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
	background-color: #d6e9c6;
	border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
	color: #3c763d;
	background-color: #fff;
	border-color: #d6e9c6;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}
/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
	background-color: #bce8f1;
	border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
	color: #31708f;
	background-color: #fff;
	border-color: #bce8f1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}
/********************************************************************/
/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8a6d3b;
	background-color: #faebcc;
	border-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
	color: #8a6d3b;
	background-color: #fff;
	border-color: #faebcc;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b; 
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
}
/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #a94442;
}
.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #a94442;
	background-color: #ebccd1;
	border-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
	color: #a94442;
	background-color: #fff;
	border-color: #ebccd1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f2dede; /* bg color */
    border-color: #ebccd1; /* border color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #a94442; /* normal text color */  
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ebccd1; /* hover bg color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff; /* active text color */
    background-color: #a94442; /* active bg color */
}
/********************************************************************/
/*** PANEL CUSTOM ***/
.with-nav-tabs.panel-customs .nav-tabs > li > a,
.with-nav-tabs.panel-customs .nav-tabs > li > a:hover,
.with-nav-tabs.panel-customs .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-customs .nav-tabs > .open > a,
.with-nav-tabs.panel-customs .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-customs .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-customs .nav-tabs > li > a:hover,
.with-nav-tabs.panel-customs .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #6479a2;
	border-color: transparent;
}
.with-nav-tabs.panel-customs .nav-tabs > li.active > a,
.with-nav-tabs.panel-customs .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-customs .nav-tabs > li.active > a:focus {
	color: #56698e;
	background-color: #fff;
	border-color: #56698e;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-customs .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-customs .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-customs .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-customs .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-customs .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-customs .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-customs .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
.panel-customs>.panel-heading {
    color: #fff;
    background-color: #56698e;
    border-color: #56698e;
}
.panel-customs {
    border-color: #56698e;
}
.panel-customs .nav>li>a {
	padding: 10px 45px;
}
